/*colores*/
/*fuentes*/
/*header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: $mainColor;
}
*/
/*
.menuHeader ul{
    display: flex;
    flex-direction: row;  
    justify-content:space-evenly;
    align-items: center;
        
        li{
            list-style: none;
            margin: 0 20px;
            a{
                font-family: $mainFont;
                text-decoration: none;
                color: $thirdColor;
                    &:hover{
                        color: $secondColor;
                   } 
                }         
            }
}
*/
/*bootstrap menu*/
.navbar-collapse {
  flex-direction: row;
  justify-content: flex-end; }

h1 {
  grid-area: titulo;
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #021a3d;
  background-image: linear-gradient(to top, #084298, #092036);
  color: #faf5f5;
  margin: 0px 0px !important; }

.logo {
  margin-right: 15vw;
  width: 50%;
  height: 15%; }

.navbar li {
  list-style: none;
  margin: 0 20px; }
  .navbar li a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #faf5f5; }
    .navbar li a:hover {
      color: rgba(217, 236, 245, 0.747); }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: #021a3d;
  justify-content: center;
  align-items: center; }
  footer div .listaFooter {
    display: flex;
    text-decoration: none;
    list-style: none; }
    footer div .listaFooter li img {
      height: 30px;
      margin-top: 10px;
      padding: 10px 10px 0px 10px; }

.copyright {
  margin-left: 80vw;
  color: rgba(217, 236, 245, 0.747);
  font-style: "Poppins", sans-serif;
  font-size: 10px; }

main {
  grid-area: main; }

/*aparecer*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    visibility: visible; }
  100% {
    visibility: visible; } }

/*texto*/
.parrafosMain, .titulosMain {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: black;
  background-color: #faf5f5; }

.titulosMain {
  padding: 20px 0px 20px 0px;
  animation-duration: 6s;
  animation-name: aparecer;
  animation-delay: 2seg; }
  .titulosMaintitulosMain:hover {
    transform: 1.5, 1.2; }

.titulosImg {
  background-color: #faf5f5;
  color: #021a3d;
  text-align: center;
  font-size: "Poppins", sans-serif;
  padding: 20px 0px 20px 0px; }

.titulosVideo {
  background-color: #021a3d;
  color: #faf5f5;
  font-size: "Poppins", sans-serif;
  text-align: center;
  padding: 20px 0px 20px 0px; }

/*carousel*/
.carousel-inner {
  max-height: 850px;
  background-color: #faf5f5; }

.carousel-item img {
  margin: 0 auto;
  padding-bottom: 2%; }

/*galeria*/
.imagenesGalerias {
  display: flex;
  justify-content: center;
  filter: grayscale(1); }
  .imagenesGalerias img {
    padding: 1% 1%;
    flex: none;
    max-height: 30%;
    max-width: 30%; }

.imagenesGalerias:hover {
  filter: grayscale(0); }

/*sectionActividades*/
.contenidoMain {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; }
  .contenidoMain video {
    width: 100%; }

.videosMain {
  padding: 20px 100px 20px 100px;
  background-color: #faf5f5;
  max-height: 600px; }

.horarios {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .horarios img {
    width: 75%; }

/*redes sociales*/
.redes {
  background-color: #faf5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .redes li {
    text-decoration: none;
    list-style: none;
    background-color: #faf5f5; }
    .redes li img {
      width: 50px; }

/*formularios*/
form {
  width: 500px;
  margin: 50px auto; }

.tituloForm {
  margin-top: 20px; }

input, textarea {
  width: 100%;
  border: 1px solid #c7d1d1; }

/*
#name{
    font-family: $mainFont;
    background-color: white;
    border-radius: 2px;
    border: none;
    color: $mainColor;
    box-sizing: border-box;
    margin: 20px 0px;
}

#surname{
    font-family: $mainFont;
    background-color: white;
    border: none;
    color: $mainColor;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#comment{
    @extend #surname
}
*/
/*ubicacion*/
.iframeUbicacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

.contenidoPrincipalIndex, .contenidoPrincipalActividades, .contenidoPrincipalHorarios, .contenidoPrincipalGaleria, .contenidoPrincipalContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "titulo" "header" "main" "footer"; }

* {
  padding: 0;
  margin: 0; }

.btn {
  color: #02316e; }

/*medias*/
@media screen and (max-width: 768px) {
  .contenidoPrincipal, .contenidoPrincipalActividades, .contenidoPrincipalHorarios, .contenidoPrincipalGaleria, .contenidoPrincipalContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "header" "main" "footer"; }
  .menuHeader ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .horarios {
    background-color: #faf5f5;
    height: 600px; }
  footer div h2 {
    margin-left: 80vw;
    color: rgba(217, 236, 245, 0.747);
    font-style: "Poppins", sans-serif;
    font-size: 9px; } }

@media screen and (max-width: 320px) {
  .contenidoPrincipal, .contenidoPrincipalActividades, .contenidoPrincipalHorarios, .contenidoPrincipalGaleria, .contenidoPrincipalContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "header" "main" "footer"; }
  .contenidoPrincipalActividades {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "header" "main" "footer"; }
  .contenidoPrincipalHorarios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "header" "main" "footer"; }
  .contenidoPrincipalGaleria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "header" "main" "footer"; }
  .contenidoPrincipalContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "header" "main" "footer"; }
  .menuHeader ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer div h2 {
    margin-left: 80vw;
    color: rgba(217, 236, 245, 0.747);
    font-style: "Poppins", sans-serif;
    font-size: 7px; } }
