.contenidoPrincipalIndex{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "titulo"
                        "header"
                        "main"
                        "footer";   
}

.contenidoPrincipalActividades{
    @extend .contenidoPrincipalIndex;   
}

.contenidoPrincipalHorarios{
    @extend .contenidoPrincipalIndex;   
}

.contenidoPrincipalGaleria{
    @extend .contenidoPrincipalIndex;
}

.contenidoPrincipalContacto{
    @extend .contenidoPrincipalIndex;
}