.contenidoPrincipalIndex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        "titulo titulo"
                        "header header"
                        "main main"
                        "footer footer";   
}

.contenidoPrincipalActividades{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "titulo"
                        "header"
                        "main"
                        "footer";   
}

.contenidoPrincipalHorarios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "titulo"
                        "header"
                        "main"
                        "footer";   
}

.contenidoPrincipalGaleria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
                        "titulo titulo titulo"
                        "header header header"
                        "main main main"
                        "footer footer footer"  
}