main{
    grid-area: main;
}
/*aparecer*/
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    50%{
        visibility: visible;
    }
    100%{
        visibility:visible
    }
}

/*texto*/
.parrafosMain{
    font-family: $mainFont;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: $thirdColor;
}
.titulosMain{
    @extend .parrafosMain;
    padding: 20px 0px 20px 0px;
    animation-duration: 6s;
    animation-name: aparecer;
    animation-delay: 2seg;
    filter: grayscale(1);

        &titulosMain:hover{
            transform: (1.5,1.2);
            filter: grayscale(0);
        }
}

@mixin titulos($bgColor, $mainColor){

    background-color: $bgColor;
    color: $mainColor;    
}
.titulosImg{
    @include titulos($thirdColor , $mainColor);
    text-align: center;
    font-size: $mainFont;
    padding: 20px 0px 20px 0px;
}
.titulosVideo{
    @include titulos($mainColor, $thirdColor);
    font-size: $mainFont;
    text-align: center;
    padding: 20px 0px 20px 0px;
}


/*carousel*/
.carousel-item img{
    padding: 40px 80px 20px 80px;
    background-color: $thirdColor;
}

/*sectionActividades*/
.contenidoMain{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    video{
    width: 100%;
    }
}


.videosMain{
    padding: 0px 50px 20px 50px;
    background-color: $thirdColor;
}

.horarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img{
        width: 70%;
        padding-top: 20px;
    }
}

.redes{
    background-color: $thirdColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li{
        text-decoration: none;
        list-style: none;
        background-color: $thirdColor;

        img{
            width: 50px;
        }
    }   
}


/*formularios*/
.formContactos{
    @extend .horarios;
    background-color: $thirdColor;
    width: 100%;
}

#name{
    font-family: $mainFont;
    background-color: white;
    border-radius: 2px;
    border: none;
    color: $mainColor;
    box-sizing: border-box;
    margin: 20px 0px;
}

#surname{
    font-family: $mainFont;
    background-color: white;
    border: none;
    color: $mainColor;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#comment{
    @extend #surname
}

/* ubicacion*/
.iframeUbicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}