main{
    grid-area: main;
}
/*aparecer*/
@keyframes aparecer{
    0%{
        opacity: 0;
    }
    50%{
        visibility: visible;
    }
    100%{
        visibility:visible
    }
}

/*texto*/
.parrafosMain{
    font-family: $mainFont;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: $thirdColor;
}
.titulosMain{
    @extend .parrafosMain;
    padding: 20px 0px 20px 0px;
    animation-duration: 6s;
    animation-name: aparecer;
    animation-delay: 2seg;
        &titulosMain:hover{
            transform: (1.5,1.2);
        }
}

@mixin titulos($bgColor, $mainColor){

    background-color: $bgColor;
    color: $mainColor;    
}
.titulosImg{
    @include titulos($thirdColor , $mainColor);
    text-align: center;
    font-size: $mainFont;
    padding: 20px 0px 20px 0px;
}
.titulosVideo{
    @include titulos($mainColor, $thirdColor);
    font-size: $mainFont;
    text-align: center;
    padding: 20px 0px 20px 0px;
}


/*carousel*/

.carousel-inner{
    max-height: 850px;
    background-color: $thirdColor;
}

.carousel-item img{
    margin: 0 auto;
    padding-bottom: 2%;
}


/*galeria*/

.imagenesGalerias{
    display: flex;
    justify-content: center;
    filter: grayscale(1);    

        img{
            padding: 1% 1%;
            flex: none;
            max-height: 30%;
            max-width: 30%;
    }
}

.imagenesGalerias:hover{
    filter: grayscale(0);
}

/*sectionActividades*/
.contenidoMain{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    video{
    width: 100%;
    }
}

.videosMain{
    padding: 20px 100px 20px 100px;
    background-color: $thirdColor;
    max-height: 600px;
    
}

.horarios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    img{
        width: 75%;

    }
}

/*redes sociales*/
.redes{
    background-color: $thirdColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li{
        text-decoration: none;
        list-style: none;
        background-color: $thirdColor;

        img{
            width: 50px;
        }
    }   
}


/*formularios*/
form{
    width: 500px;
    margin: 50px auto;
}

.tituloForm{
    margin-top: 20px;
}


input{
    width: 100%;
    border: 1px solid #c7d1d1;
}

textarea{
    @extend input
}

/*
#name{
    font-family: $mainFont;
    background-color: white;
    border-radius: 2px;
    border: none;
    color: $mainColor;
    box-sizing: border-box;
    margin: 20px 0px;
}

#surname{
    font-family: $mainFont;
    background-color: white;
    border: none;
    color: $mainColor;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#comment{
    @extend #surname
}
*/

/*ubicacion*/
.iframeUbicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}