/*colores*/

$mainColor: rgb(2, 26, 61);
$secondColor: rgba(217, 236, 245, 0.747);
$thirdColor: rgb(250, 245, 245);
$fourthColor: #092036;
$fifthColor: rgb(8, 31, 61);
$sixthColor: #084298;

/*fuentes*/

$mainFont:'Poppins', sans-serif;


